@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    background: darkred;
    color: white;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 105px;
}

.header .logo {
    font-weight: bold;
    font-size: 50px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

.links a {
    text-decoration: none;
    color: rgb(180, 180, 180);
}

/* Description */

.container-description {
    background-color: darkred;
    display: flex;
    padding: 80px;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

h1 {
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
    color: #F9FAF8;
    margin: 0;
}

.description p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #c9c9c9;
    margin: 0;
}

.description .button {
    padding: 8px 16px;
    border-radius: 8px;
    background: rgb(255, 103, 103);
    border: 1px solid rgb(255, 103, 103);
    color: white;
    font-weight: bold;
    width: 90px;
}

.description {
    display: flex;
    flex-basis: 500px;
    flex-direction: column;
    background-color: darkred;
    gap: 6px;
}

.placeholder img {
    width:400px;
    height: 250px;
}


/* Information and Pictures*/

.container-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 80px 0;
    flex-wrap:wrap;

}

.info {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 3px solid rgb(255, 103, 103);
    border-radius: 15px;
    margin: 0 20px 0 20px;
}

h2 {
    font-size: 36px;
    margin: 50px 0 0 0;
    display:flex;
    justify-content: center;

}

.info .text {
    color: rgb(87, 87, 87);
    width: 150px;
    text-align: center;
}


/* Quote */

.quote-container {
    background: rgb(219, 219, 219);
    height: 300px;
    margin-bottom: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

h3 {
    font-style:italic;
    font-size: 28px;
    padding: 0 310px;
    color:rgb(107, 107, 107);
    width: 630px;

}

.quote-container p {
    font-size: 18px;
    font-weight: bold;
    color:rgb(0, 0, 0);
    padding-left: 420px;
}

/* Call to Action */

.signup-container {
    background-color: rgb(255, 103, 103);
    border-radius: 20px;
    border: 3px solid rgb(255, 103, 103);
    margin: 50px 225px;
    padding: 10px 80px;
    display: flex;
    align-items: center;
    gap: 60px;
}

h4 {
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin: 30px 0 0 50px;
}

.signup p {
    color:rgb(202, 202, 202);
    margin: 0;
    margin: 5px 25px 25px 50px;
}

.signup-container .button {
    color: #fff;
    border: 1px solid white;
    border-radius: 8px;
    background: rgb(255, 103, 103);
    padding: 8px 16px;
}


/* Footer */

.footer {
    background: darkred;
    color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}