@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    background: darkred;
    color: white;
    height: 72px;
    display: flex;
    align-items: center;
    padding-left: 150px;
    padding-right: 105px;
    display: flex;
    justify-content: space-between;

}

.logo {
    font-weight: bold;
    font-size: 50px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: rgb(180, 180, 180);
}

.text {
    font-weight:800;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    width: 350px;
    color: #F9FAF8;
}

.subtext {
    color: rgb(175, 175, 175);
    font-family: 'Roboto', sans-serif;
    width: 450px;
    font-size: 18px;
    color: #c9c9c9;
}

.button1 {
    padding: 8px 16px;
    border-radius: 8px;
    background: rgb(255, 103, 103);
    border: 1px solid rgb(255, 103, 103);
    color: white;
    font-weight: bold;
    width: 90px;
}

.description {
    display: flex;
    flex-direction: column;
    background-color: darkred;
    gap: 6px;
}

.placeholder img {
    width:300px;
    height: auto;
}

.container {
    background-color: darkred;
    display: flex;
    padding: 80px 0px;
    padding-left: 150px;
    gap: 40px;
}

.information {
    font-weight: 800;
    font-size: 36px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.boxes {
    display: flex;
    text-align: center;
    margin-top: 30px;
    justify-content: center;
    gap: 30px;
    margin-bottom: 90px;
}

.boxtext {
    width: 150px;
    display: flex;
    color: rgb(87, 87, 87);
}

.box {
    border-radius: 20px;
    border: 3px solid rgb(255, 103, 103);
    width: 150px;
    height: 150px;
}

.box img {
    width: 150px;
    height: 150px;
    border-radius: 15px;
}

.container2 {
    display:flex;
    flex-direction: column;
    gap: 10px;
}

.container3 {
    background: rgb(219, 219, 219);
    height: 300px;
    margin-bottom: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.quote {
    font-style:italic;
    font-size: 28px;
    padding: 0 310px;
    color:rgb(107, 107, 107);
    width: 630px;

}

.author {
    font-size: 18px;
    font-weight: bold;
    color:rgb(0, 0, 0);
    padding-left: 420px;
}

.container4 {
    display: flex;
    flex-direction: column;
    margin-left: 100px;

}

.call {
    color: white;
    padding-top: 40px;
    font-weight: bold;
    font-size: 20px;
}

.signup {
    color:rgb(202, 202, 202);
}

.button2 {
    border-radius: 8px;
    background: rgb(255, 103, 103);
    border: 1px solid rgb(255, 255, 255);
    color: white;
    font-weight: bold;
    width: 90px;
    height: 40px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.container5 {
    display: flex;
    background: rgb(255, 103, 103);
    border-radius: 20px;
    border: 3px solid rgb(255, 103, 103);
    width: 800px;
    height: 125px;
    margin-left: 300px;
    margin-right:300px;
    gap: 70px;
    margin-bottom: 90px;
    flex: 1;
}

.footer {
    background: darkred;
    color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 125px;
}